:root {
    --bg-color: #1ee384;
    --bg-color-50: #1ee38480;
    --nav-height: 60px;
    --timeline-shadow: 8px -8px 0 -3px #11111110;
}
html { scroll-behavior:smooth; }
body { margin:0; background-color:#111; color:#111; font-family:'Outfit', 'Helvetica', 'Arial', sans-serif; font-size:16px; transition:color 1s ease, background-color 4s ease; }
body * { box-sizing:border-box }
body.dark-mode { background-color:#fff5be !important; }
a { color:#111; text-decoration:none; }
/* .dark-mode a { color:#fff } */
h1, h2, h3, h4, h5, h6 { margin:0; }
h1 { font-size:44px; }
h1.dynamic-size { font-size:min(44px, calc((4vh + 4vw) / 2)); }

.flex-center { display:flex; align-items:center; justify-content:center; }
.text-center { text-align:center !important; }
.p-0 { padding:0 !important; }
.m-0 { margin:0 !important; }

#bg-image { display:block; position:fixed; top:0; left:0; width:100%; height:140%; background-image:linear-gradient(180deg, #082047, #133e83, #7b4214); animation:anim-fade-in 4s; z-index:-1; }
#bg-code { position:fixed; top:0; left:0; width:100%; height:100%; margin:0; font-size:12px; opacity:0.5; overflow:hidden; background:none !important }
.dark-mode #bg-code { display:none }

#slime, #slime-bg { position:fixed; bottom:0; left:0; width:100%; height:100%; }
.dark-mode #slime,
.dark-mode #slime-bg { display:none !important }
#slime-bg { background-color:var(--bg-color) }

.typewriter.active:after { content:'|'; display:inline-block; color:transparent; background-color:#111; width:3px; }
.typewriter.waiting:after { animation:anim-blinking-cursor 1s step-start infinite }

#spotlight { display:block; position:fixed; top:-200%; left:-185%; height:400%; width:400%; z-index:10; background-image: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.97) 8%); transform:skewX(-5deg); pointer-events:none }
@media (pointer: coarse) {
    #spotlight { transition:1s ease }
}

#nav { position:fixed; top:0; left:0; width:100%; height:var(--nav-height); color:#111; justify-content:space-between; padding:10px 40px; transition:color 1s ease; user-select:none; pointer-events:none; z-index:10; transition:background-color 1s ease, box-shadow 1s ease; }
body:not(.dark-mode) #nav.backdrop { background-color:var(--bg-color);box-shadow:0 0 10px #11111140, 0 0 100px var(--bg-color); }
@supports (backdrop-filter: blur(10px)) {
     body:not(.dark-mode) #nav.backdrop { background-color:var(--bg-color-50); backdrop-filter:blur(10px); }
}
#nav a { display:inline-block; padding:10px 15px; border-radius:4px; transition:.3s ease; cursor:pointer; position:relative; pointer-events:auto; }
#nav-logo { width:20px; height:auto; vertical-align:top; margin-right:5px; border-radius:2px; transform:skewX(-10deg); }
.nav-left { flex:1 0 auto; font-weight:bold; animation:anim-fade-in-right 1s ease; animation-delay:0.5s; animation-fill-mode:backwards; }
.nav-right { display:flex; animation:anim-fade-in-left 1s ease; animation-delay:1s; animation-fill-mode:backwards; }
.nav-right a:not(:first-of-type) { margin-left:4px; }
.nav-right a:hover { transform:scale(1.05); }
.nav-right a:active { transform:scale(1); transition:none }
.nav-right a .bg { position:absolute; top:0; left:0; width:100%; height:100%; background-color:#11111110; transform:skewX(-10deg); border-radius:8px; transition:.3s ease }
/* .dark-mode .nav-right a .bg { background-color:#ffffff20 } */
.nav-right a:not(.button) .bg { opacity:0; }
.nav-right a:not(.button):hover .bg { opacity:1; }
#toggle-mobile-menu { display:none !important; font-size:26px; }

#main-container { position:absolute; width:100%; padding:0 var(--nav-height); z-index:5; }
section { animation:anim-fade-in 3s ease }
section#home { height:100vh; flex-direction:column; opacity:1; }
section#home h1 { max-width:1200px }
section#home .icon-bottom a { display:block; animation:anim-bounce-down 1s ease infinite }
section#home .icon-bottom a:hover { text-shadow:0 -4px 20px #11111180 }

section#projects { flex-direction:column; align-items:center; width:100%; margin:var(--nav-height) 0; }
section#projects > h1 { text-align:center; padding:var(--nav-height) 0; }
.project-link { display:inline-block; font-size:18px; opacity:.33; transform:translateY(-2px); margin-left:2px }
.project-link:hover { opacity:1 }
.timeline-group { display:flex; width:100%; max-width:600px;  position:relative; opacity:.25; transition:opacity 1s ease }
.timeline-group:not(:first-of-type) { margin-top:var(--nav-height); }
.timeline-group .subtitle { font-size:16px; font-weight:300; line-height:normal; }
.timeline-year { position:relative; font-weight:600; min-width:80px; color:#111; text-align:right; margin-right:60px; }
.timeline-year .subtitle { font-weight:600; }
.timeline-content ul { padding-left:15px; margin:10px 0 0 0; }
.timeline-content-text,
.timeline-content-video { padding:15px; margin:18px 0; color:#111; border:2px solid #111; border-radius:10px; box-shadow:var(--timeline-shadow); overflow:hidden }
.timeline-content-video { padding:0 !important; cursor:pointer; }
.timeline-content-video video { width:100%; height:auto; vertical-align:top; }
.timeline-line-container { position:absolute; left:calc(100% + 27px); width:3px; height:100%; top:40px; }
.timeline-line-container .timeline-line { display:none; width:100%; height:100%; background-image:linear-gradient(180deg, #11111180, #11111120); border-radius:4px; animation:anim-height-in 2s ease; } 
.timeline-dot { position:absolute; top:0; left:calc(100% + 17px); width:24px; height:24px; border-radius:50%; box-shadow:var(--timeline-shadow); }
.timeline-dot i { display:none; font-size:20px; animation:anim-fade-in-zoom 1s ease }

.timeline-group.active { opacity:1 }
.timeline-group.active .timeline-dot i,
.timeline-group.active .timeline-line { display:block }

.timeline-title { font-weight:bold; }
.timeline-year, .timeline-title { font-size:24px;line-height:1; }

@media only screen and (min-width: 800px) {
    .timeline-group { min-width:800px; }
    .timeline-group .subtitle { font-size:18px; }
    .timeline-year, .timeline-title { font-size:34px; }
    .timeline-year { min-width:100px; margin-right:80px; }
    .timeline-dot i { font-size:24px; }
    .timeline-dot,
    .timeline-line-container { transform:translate(10px, 5px); }
}

@media only screen and (max-width: 660px) {
    #main-container, #nav { padding:0 15px; }
}
@media only screen and (max-width: 550px) {
    #toggle-mobile-menu { display:block !important; }
    .nav-right { display:none; flex-direction: column;position: fixed;top: 80px;right: 0;align-items: center;margin: 10px;padding: 10px;font-size: 36px;border-radius: 10px;background-color: var(--bg-color);backdrop-filter: blur(10px);border: 2px solid #111;box-shadow: 0 40px 80px #11111180; }
    .nav-right a { width:100%; text-align:center; border-radius:0 !important }
    .nav-right a:not(:first-of-type) { margin-left:0; margin-top:4px; border-top:2px solid #11111120 }
    .nav-right a .bg { transform:skewX(0) }
    .nav-right.display-mobile-menu { display:block !important; animation-delay:0s; }

    .timeline-year { margin-right:10px; }
    .timeline-year .year-text { transform:rotate(-90deg) translate(-20px, -20px);}
    .timeline-dot,
    .timeline-line-container { transform:translate(-45px, 5px); }
}

/* animations */
@keyframes anim-fade-in {
    0% { opacity:0 }
    100% { opacity:1 }
}
@keyframes anim-fade-in-right {
    0% { opacity:0; transform:translateX(-50px) }
    100% { opacity:1; transform:translateX(0px) }
}
@keyframes anim-fade-in-left {
    0% { opacity:0; transform:translateX(50px) }
    100% { opacity:1; transform:translateX(0px) }
}
@keyframes anim-fade-out-right {
    0% { opacity:1; transform:translateX(0%) }
    100% { opacity:0; transform:translateX(5%) }
}
@keyframes anim-fade-out-left {
    0% { opacity:1; transform:translateX(0%) }
    100% { opacity:0; transform:translateX(-5%) }
}
@keyframes anim-fade-in-zoom {
    0% { opacity:0; transform:scale(0); }
    100% { opacity:1; transform:scale(1); }
}
@keyframes anim-height-in {
    0% { opacity:0; height:0%; }
    66% { opacity:1; }
    100% { opacity:1; height:100%; }
}
@keyframes anim-bounce-down {
    0% { transform:translateY(0px); }
    50% { transform:translateY(20px); }
    100% { transform:translateY(0px); }
}
@keyframes anim-blinking-cursor {
    0% { opacity:1 }
    50% { opacity:0 }
    100% { opacity:1 }
}