:root {
    --doc-width: 8.5in;
    --doc-height: 11in;
    --border-color: #11111120;
}
body { margin:0; background-color:#111; color:#111; font-family:'Outfit', 'Helvetica', 'Arial', sans-serif; font-size:16px; }
body * { box-sizing:border-box }

a { color:#111; text-decoration:none; }
h1, h2, h3, h4, h5, h6 { margin:0; }

.flex-center { display:flex; align-items:center; justify-content:center; }
.text-center { text-align:center !important; }
.p-0 { padding:0 !important; }
.m-0 { margin:0 !important; }

#resume-bg { display:block; position:fixed; top:0; left:0; width:100%; height:100%; background-color:#444; /* background-image:linear-gradient(180deg, #888, #444); */ z-index:-1; }

#profile-image { width:140px; height:140px; border-radius:50%; box-shadow: 0 0 0 4px #fff, -4px 4px 20px #11111140; }

.contact-info { font-size:16px; font-weight:300; display:flex; align-items:center; }
.contact-info:not(:first-of-type) { margin-top:12px; }
.contact-info i { font-size:22px; min-width:30px; opacity:0.5 }
.contact-info a:hover { text-decoration:underline; }
.contact-icon { text-align:center; }
.contact-data { flex:1 0 auto; padding-left:14px; margin-left:10px; border-left:1px solid var(--border-color); }
.contact-data > div { font-size:14px; font-weight:500 }


#resume-container { width:100%; min-height:100vh; min-width:var(--doc-width); padding:40px 20px }
#resume { background-color:#fff; width:var(--doc-width); max-height:var(--doc-height); padding:10px; border-radius:2px; box-shadow:0 0 10px #33333380; overflow:hidden; animation:anim-fade-in-zoom 2s; }
#resume-head { display:flex; justify-content:space-between; background-color:#133e83; color:#fff; padding:20px; border-radius:8px; position:relative; /* text-shadow:-3px -3px 8px #11111180; box-shadow:-4px -4px 10px #11111180; */ }
#resume-head-left { width:70% }
#resume-head-left .title { font-size:48px; font-weight:400; line-height:1 }
#resume-head-left .subtitle { font-size:24px; font-weight:300; opacity:0.66; margin-top:10px; line-height:1 }
#resume-head-left .desc { font-size:16px; font-weight:200; opacity:0.66; margin-top:20px; }
#resume-head-right { margin:auto; }

#resume-body { display:flex; padding:20px; }
#resume-body-left { width:40% }
#resume-body-right { width:60%; padding-left:20px; margin-left:20px; border-left:1px solid var(--border-color) }
#resume-body hr { border:0; border-top:1px solid var(--border-color) }


.resume-body-group.margin-top { margin-top:40px; }
#resume-body .title { font-size:20px; font-weight:300; color:#11111180; letter-spacing:4px; text-transform:uppercase; }
#resume-body .title.margin-top { margin-top:40px; }
#resume-body .jobtitle { font-size:20px; font-weight:600; }
#resume-body .subtitle { font-size:16px; font-weight:400; margin-top:5px }
#resume-body .date { font-size:14px; font-weight:200; margin-top:5px }
#resume-body ul { margin:0; margin-top:10px; line-height:1.4; font-weight:300; padding-inline-start:25px; }
#resume-body ul li { margin-top:5px; }

#skills-list { display:flex; }
#skills-list .col { width:50% }
#skills-list .col div { font-weight:300; line-height:1 }
#skills-list .col div:not(:first-of-type) { margin-top:10px; }
#skills-list .col small { display:block; font-weight:200; font-size:14px; }

@keyframes anim-fade-in-zoom {
    0% { opacity:0; transform:scale(0.9); }
    100% { opacity:1; transform:scale(1); }
}